# Untracked files
*~
.htaccess
admin/
application/*
!application/models
application/models/*
!application/models/Mixin
application/models/Mixin/*
bootstrap.php
db.ini
files/
index.php
install/
license.txt
plugins/
robots.txt
themes/

# Exceptions (i.e. tracked files)
!application/models/Mixin/ElementText.php

